beautifulsoup4==4.12.3
better_profanity==0.7.0
cartooner==0.0.2
docx==0.2.4
langchain
langchain_community
langchain_huggingface==0.0.3
matplotlib==3.8.0
nudenet==3.0.8
NudeNetClassifier
openai==1.37.0
opencv_python==4.10.0.84
opencv_python_headless==4.10.0.84
pandas==2.2.2
Pillow==10.4.0
PyPDF2==3.0.1
python_docx==1.1.2
rembg==2.0.57
Requests==2.32.3
seaborn==0.13.2
streamlit
chromadb
